
.principale{
    border-radius: 20px;
    background-color: white;
    width: 700px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 5px;
}

h1{
    color: orange;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.tableau{
    background-color: rgb(243,215,149);
    padding: 2px 10px;
    display: flex;
    justify-content: space-around;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;;
    height: 500px;
    border-radius: 10px;
}

h2{
    color: orange;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 0.5px solid black;
    padding-bottom: 10px;
   } 

.liste{
    padding-bottom: 7px;
}

.table{
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}


.valeur{
    border: 2px solid black;
}

.un{
    font-size: 20px;
}

th{
     border: 2px;
    color: orange;
    padding: 2px 10px;
    background-color: rgb(239,239,239);
    text-align: left;
    border: 1px solid black;
    padding: 8px 10px;
}

td{
    border: 1px solid black;
    text-align: left;
    padding: 8px 10px;
}

.lien{
    color: rgb(0, 128, 255);
    text-decoration: none;
    font-weight: bold;
    display: block;
    text-align: center;
    margin: 20px;
}

body{
    background-color: silver;
}


